<h1>Welcome, {{userDetails.fullName.split(' ')[0]}}!
<br>Here's the information we have on file for you...</h1>

<table *ngIf="userDetails" class="table-fill" id="userDetailsTable">
    <thead>
        <tr>
            <th colspan="2" class="text-center">User Profile</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>First Name</td>
            <td>{{userDetails.fullName.split(' ')[0]}}</td>
        </tr>
        <tr>
            <td>Last Name</td>
            <td>{{userDetails.fullName.split(' ')[1]}}</td>
        </tr>
        <tr>
            <td>Email</td>
            <td>{{userDetails.email}}</td>
        </tr>
	<tr>
	    <td>Location</td>
	    <td></td>
        <tr>
            <td colspan="2" class="text-center">
                <input type="button" (click)="onLogout()" value="Logout" id="logoutButton" />
		<br>
		<input type="button" (click)="router.navigate(['/postDashboard']);" value="View Issues" id="dashboardButton"/>
            </td>
        </tr>
    </tbody>
  </table>
