h1, h2 {
	text-align:center;
}

#logoutButton {
	background-color:red;
}

#userDetailsTable {
	background-color: #FFFFFF;	
	margin-left:auto;
	margin-right:auto;
	border-radius: 10px;
	border-color: #ffffff;
}

#userDetailsTable th {
        padding:8px;
        background-color: #3399FF;
        color: #FFFFFF;
}

#userDetailsTable td {
	boarder-color: #ffffff;
	padding: 10px;
	text-align:center;
}

table tr:nth-child(odd) {
        background-color: #f1f1f1;
}

table tr:nth-child(even) {
        background-color: #ffffff;
}
