<h1>Issues In Your Area</h1><br>
<table *ngIf="posts?.length > 0" id="postDashboardTable" class="table-fill">
  <thead>
      <th id="actions">Actions</th>
      <th>Title</th>
      <th>Issue</th>
      <th>Location</th>
      <th *ngIf="isAdmin" id="adminOptions">Admin Options</th>
  </thead>
  <tbody>
    <tr *ngFor="let post of posts; index as i">
      <td><input type="button" (click)="upvotePost(i)" value="&uarr;" class="upvoteButton"/><br>
          <div class="postScore">{{post.postScore}}</div><br>
          <input type="button" (click)="downvotePost(i)" value="&darr;" class="downvoteButton"/></td>
      <td>
          {{post.postTitle}}
      </td>
      <td>
          {{post.postText}}
      </td>
      <td>
          {{post.postLocation}}
      </td>
      <td *ngIf="isAdmin"><input type="button" (click)="deletePost(i)" value="X" class="deleteButton"/><br>
                          <input *ngIf="isCompleted(i) == false" type="button" (click)="completePost(i)" value="&#9989;" class="completeButton"/></td>
    </tr>
  </tbody>
</table>
<h1 *ngIf="posts?.length == 0">There are currently no issues in your area.</h1>
<br>
<table id="nav">
        <tr>
                <td>
			<input type="button" (click)="router.navigate(['/newPost']);" value="Post New Issue" id="postbutton"/>
			<input type="button" (click)="router.navigate(['/userprofile']);" value="My Profile" id="profileButton"/>
		</td>
        </tr>
</table>
