<h1>Issues In Your Area</h1>
<h1 *ngIf="isAdmin" style="color:red;font-size:20px;">Note: Signed in as admin</h1><br>
<table id="nav">
        <tr>
                <td>
			<input type="button" (click)="router.navigate(['/newPost']);" value="Post New Issue" id="postbutton"/>
            <input type="button" (click)="router.navigate(['/userprofile']);" value="My Profile" id="profileButton"/>
            <input *ngIf="isAdmin" type="button" (click)="router.navigate(['/adminDashboard']);" value="Admin Dashboard" id="adminButton"/>
		</td>
        </tr>
</table>
<br>
<table *ngIf="posts?.length > 0" id="postDashboardTable" class="table-fill">
  <thead>
      <th id="actions">Actions</th>
      <th>Title</th>
      <th>Issue</th>
      <th>Location</th>
      <th *ngIf="isAdmin" id="adminOptions">Admin Options</th>
  </thead>
  <tbody>
      <tr *ngFor="let post of posts; index as i">
      <td><input *ngIf="isCompleted(i)==false" type="button" (click)="upvotePost(i)" value="&uarr;" class="upvoteButton"/><br>
          <div class="postScore">{{post.postScore}}</div><br>
          <input *ngIf="isCompleted(i)==false" type="button" (click)="downvotePost(i)" value="&darr;" class="downvoteButton"/></td>
      <td>
        <span *ngIf="isCompleted(i)" style="font-weight: bold; color:green;">{{post.postTitle}}</span>
        <span *ngIf="isCompleted(i)==false">{{post.postTitle}}</span>
      </td>
      <td>
            <span *ngIf="isCompleted(i)" style="font-weight: bold; color:green;">{{post.postText}}</span>
            <span *ngIf="isCompleted(i)==false">{{post.postText}}</span>
      </td>
      <td>
            <span *ngIf="isCompleted(i)" style="font-weight: bold; color:green;">{{post.postLocation}}</span>
            <span *ngIf="isCompleted(i)==false">{{post.postLocation}}</span>
      </td>
      <td *ngIf="isAdmin"><input type="button" (click)="deletePost(i)" value="X" class="deleteButton"/><br>
                          <input *ngIf="isCompleted(i) == false" type="button" (click)="completePost(i)" value="&#9989;" class="completeButton"/></td>
    </tr>
  </tbody>
</table>
<h1 *ngIf="posts?.length == 0">There are currently no issues in your area.</h1>
<br>
<table id="nav">
        <tr>
                <td>
			<input type="button" (click)="router.navigate(['/newPost']);" value="Post New Issue" id="postbutton"/>
            <input type="button" (click)="router.navigate(['/userprofile']);" value="My Profile" id="profileButton"/>
            <input *ngIf="isAdmin" type="button" (click)="router.navigate(['/adminDashboard']);" value="Admin Dashboard" id="adminButton"/>
		</td>
        </tr>
</table>
