h1 {
	text-align:center;
}

table {
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	border-radius: 10px;
	border-color: #CCCCFF;
	background-color: #FFFFFF;
}

#postDashboardTable td {
	padding: 8px;
	text-align: center;	
}

#postDashboardTable th {
	padding:8px;
	background-color: #3399FF;
	color: #FFFFFF;
}

table tr:nth-child(odd) {
	background-color: #f1f1f1;
}

table tr:nth-child(even) {
	background-color: #ffffff;
}

#postbutton {
	background-color: green;
}

.upvoteButton {
	background-color: rgb(64, 185, 64);
}

.deleteButton {
	background-color: red;
}

.downvoteButton {
	background-color: crimson;
}

#nav {
	text-align: center;
}

#adminOptions, #actions {
	width: 10%;
}

.upvoteButton, .downvoteButton, .deleteButton {
	font-weight: bold;
	font-size: 30px;
	padding: 5px 10px 5px 10px;
}